{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/trains-per-day" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "regions",
          fieldset: {
            legend: {
              text: "Which regions will you serve?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "London",
              text: "London"
            },
            {
              value: "Midlands",
              text: "Midlands"
            },
            {
              value: "North East",
              text: "North East"
            },
            {
              value: "North West",
              text: "North West"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "South East",
              text: "South East"
            },
            {
              value: "South West",
              text: "South West"
            },
            {
              value: "wales",
              text: "Wales"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
